body {
    font-family: 'Roboto', sans-serif;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.my_project{
    margin-left: 20px;
}

.Calculator {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

table {
    width: 100%;
    border-collapse: collapse;
}

.inputBox {
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 15px;
    font-size: 1.5em;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: right;
    background-color: #222;
    color: #fff;
}

button {
    width: 100%;
    padding: 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
    color: #fff;
    display: inline-block;
    box-sizing: border-box;
}

button:hover {
    background-color: #555;
}

button:active {
    transform: scale(0.95);
}

.button-clear {
    background-color: #f44336;
}

.button-equal {
    background-color: #4CAF50;
}

.button-operator {
    background-color: #f39c12;
}

.button-operator-secondary {
    background-color: #d35400;
}

.button-dot {
    background-color: #3498db;
}

.button-number {
    background-color: #444;
}
